/* 기본 */
body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f6f7f9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: #222;
}

#root {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.page-container {
  padding: 20px;
}

/* 네비게이션 영역 */
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 18px 20px;
  box-sizing: border-box;
  background: #334d80ff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
}

.navItem {
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  color: #313131ff;
  background: #ffffffff;
  transition: all 0.2s ease;
  font-size: 15px;
}

.navItem:hover {
  background: #e6e9ef;
}

.navItem.active {
  background: #4c4f57;
  color: white;
}

/* 탭 컨테이너 */
.tab-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 10px;
}

/* 탭 버튼 (정통 탭 모양) */
.tab-button {
  padding: 14px 32px;
  background: #f3f5f8;
  border: none;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 15px;
  font-weight: 500;
  color: #363636ff;
  border-bottom: 2px solid #d3d3d3ff;
}

/* hover 효과 */
.tab-button:hover {
  background: #e8ebf0;
}

/* 활성 탭 */
.tab-button.active {
  border-bottom: 2px solid #314cabff;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.05);
}

/* 콘텐츠 박스 */
.content-container {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  /* height: 600px; */
  border-radius: 0 12px 12px 12px;
  background: #ffffffff;
  padding: 24px;
  min-height: 140px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
}

.btn-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.btn-container button {
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  background: #161e3dff;
  color: #fff;
}

.box-container {
  display: flex;
  flex-derection: column;
  justify-content: center;
  gap: 50px;
}

.box {
  width: 250px;
  height: 250px;
  border: 3px solid #b8b8b8ff;
  text-align: center;
  padding-top: 100px;
  border-radius: 10px;
}

.box-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.box-btn button {
  margin: 10px 0;
  background: #bfc4dbff;
}
